{% extends "song/base.html" %}

{% block content %}
<section class="about-section">
    <h2>О MusicFlow</h2>
    <div class="about-content">
        <p>MusicFlow - это платформа для настоящих ценителей музыки. Мы предоставляем:</p>
        <ul>
            <li>Возможность хранить свою музыку в одном месте</li>
            <li>Доступ к миллионам треков</li>
            <li>Создание персональных плейлистов</li>
            <li>Рекомендации на основе ваших предпочтений</li>
        </ul>
        
        <h3>Наша команда</h3>
        <div class="team-members">
            <div class="member">
                <img src="/static/images/default-avatar.jpg" alt="Основатель">
                <h4>Алексей Петров</h4>
                <p>Основатель и CEO</p>
            </div>
            <!-- Добавьте других членов команды -->
        </div>
    </div>
</section>
{% endblock %}